body {
  padding: 10px;
  font: 400 100%/1.5 'Cormorant Garamond', sans-serif;
  color: #F8F8FF;
}

.content {
  overflow: auto;
  position: relative;
}

@-webkit-keyframes backgroundBlurEffect {
  from {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  to {
    -webkit-filter: blur(6px);
            filter: blur(6px);
  }
}

@keyframes backgroundBlurEffect {
  from {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  to {
    -webkit-filter: blur(6px);
            filter: blur(6px);
  }
}

@-webkit-keyframes fade-slide-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-4em);
            transform: translateY(-4em);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fade-slide-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-4em);
            transform: translateY(-4em);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.content:before {
  content: "";
  position: fixed;
  left: -5%;
  top: -5%;
  right: 0;
  z-index: -1;

  display: block;
  height: 110vh;
  -webkit-animation: 
  fade-slide-down 1s 0.2s cubic-bezier(0, 0.5, 0, 1),
  2s 1.5s 1 ease-in backgroundBlurEffect;
          animation: 
  fade-slide-down 1s 0.2s cubic-bezier(0, 0.5, 0, 1),
  2s 1.5s 1 ease-in backgroundBlurEffect;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.8))), url(header_background.jpg) no-repeat bottom;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8)), url(header_background.jpg) no-repeat bottom;
  background-size: cover;
  opacity: 0;
}

.stretch-height {
  height: inherit;
}

.heading-outer-container {
  max-width: 100%;
  text-align: center;
  margin-top: 150px;
}

.h1-inner-container {
  display: inline-block;
}

.h2-inner-container {
  display: inline-block;
  max-width: 94%;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes heading-visibility {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes heading-visibility {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.typography-style {
  opacity: 0;
  overflow: hidden;
  border-right: 0.15em solid transparent;
  white-space: nowrap;
  letter-spacing: 0.1em;
}

.animate-typing-h1 {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-animation: 
    typing 1s 1.5s steps(40),
    blink-caret 0.0909s 1.5s step-end 11,
    heading-visibility 0.01s 1.5s 1 ease-in;
  animation: 
    typing 1s 1.5s steps(40),
    blink-caret 0.0909s 1.5s step-end 11,
    heading-visibility 0.01s 1.5s 1 ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animate-typing-h2 {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-animation: 
    typing 1s 2.5s steps(40),
    blink-caret 0.0909s 2.5s step-end 11,
    heading-visibility 0.01s 2.5s 1 ease-in;
  animation: 
    typing 1s 2.5s steps(40),
    blink-caret 0.0909s 2.5s step-end 11,
    heading-visibility 0.01s 2.5s 1 ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navigation {
  position: fixed;
  right: 100px;
  top: 50%;
}

@-webkit-keyframes navigation-visibility {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes navigation-visibility {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navigation ul {
  list-style: none;
  width: 150px;
  height: 20px;
  opacity: 0;
  -webkit-animation: 1s 3.5s 1 ease-in navigation-visibility;
          animation: 1s 3.5s 1 ease-in navigation-visibility;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; 
}

.navigation ul li:last-child {
  margin-top: -8px;
}

.navigation ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #F8F8FF;
  text-decoration: none;
  -webkit-perspective: 200px;
          perspective: 200px;
  -webkit-backface-visibility: hidden;
  -webkit-perspective-origin: calc(100% - 20px);
          perspective-origin: calc(100% - 20px);
}

.navigation ul li a:hover {
  cursor: default;
}

@-webkit-keyframes fold-up {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
}

@keyframes fold-up {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
}

.nav-text {
  display: inline-block;
  font-size: 24px;
  letter-spacing: 0.1em;
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
  -webkit-animation: 1.3s 3.9s 1 ease-in fold-up;
          animation: 1.3s 3.9s 1 ease-in fold-up;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.nav-bullet {
  display: inline-block;
  margin-left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
  -webkit-transition: background-color 0.1s ease-in, width 0.1s ease-in, height 0.1s ease-in;
  transition: background-color 0.1s ease-in, width 0.1s ease-in, height 0.1s ease-in;
}

.nav-bullet:hover {
  cursor: pointer;
  background-color: #F8F8FF;
  width: 18px;
  height: 18px;
}

.nav-bullet:hover + .nav-text {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);  
}

.home:focus > .nav-text {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);  
}

h1 {
  font-size: calc(40px + (100 - 40) * ((100vw - 320px) / (1100 - 320)));
  margin-right: 0px;
  margin-bottom: 0px;
}

h2 {
  font-size: calc(18px + (32 - 18) * ((100vw - 320px) / (1050 - 320)));
}

@media screen and (max-width: 320px) {
	h1 {
		font-size: 40px;
  }
  
  h2 {
		font-size: 18px;
	}
}

@media screen and (min-width: 1050px) {
	h1 {
		font-size: 100px;
  }
  
  h2 {
		font-size: 32px;
  }
  
  .heading-outer-container {
    margin-top: 200px;
    max-width: 620px;
    text-align: initial;
  }
}