body {
  padding: 10px;
  font: 400 100%/1.5 'Cormorant Garamond', sans-serif;
  color: #F8F8FF;
}

.content {
  overflow: auto;
  position: relative;
}

.content:before {
  content: "";
  position: fixed;
  left: -5%;
  top: -5%;
  right: 0;
  z-index: -1;

  display: block;
  background: url(header_background.jpg) #7c939e;
  background-size: cover;
  height: 110vh;
  filter: blur(6px);
}

.stretch-height {
  height: inherit;
}

.heading-outer-container {
  display: flex;
  align-items: center;
}

.heading-inner-container {
  margin-top: 150px;
}

h1 {
  font-size: calc(40px + (100 - 40) * ((100vw - 320px) / (1100 - 320)));
  margin-bottom: 0px;
}

h2 {
  font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1100 - 320)));
}

@media screen and (max-width: 320px) {
	h1 {
		font-size: 40px;
  }
  
  h2 {
		font-size: 20px;
	}
}

@media screen and (min-width: 1100px) {
	h1 {
		font-size: 100px;
  }
  
  h2 {
		font-size: 32px;
	}
}