html {
  overflow: hidden;
  height: 100%;
}

body {
  padding: 10px;
  font: 400 100%/1.4 'Raleway', sans-serif;
  color: #F8F8FF;
  height: 100%;
  overflow: auto;
}

/* Background img layout, style and animation */

.header-content {
  overflow: hidden;
  position: relative;
}

@-webkit-keyframes backgroundBlurEffect {
  from {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  to {
    -webkit-filter: blur(6px);
            filter: blur(6px);
  }
}

@keyframes backgroundBlurEffect {
  from {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  to {
    -webkit-filter: blur(6px);
            filter: blur(6px);
  }
}


@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slide-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-4em);
            transform: translateY(-4em);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-4em);
            transform: translateY(-4em);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.header-content:before {
  content: "";
  position: fixed;
  left: -5%;
  top: -5%;
  right: 0;
  z-index: -1;

  display: block;
  height: 110vh;
  -webkit-animation: 
  slide-down 1s 0.2s cubic-bezier(0, 0.5, 0, 1),
  fade-in 1s 0.2s cubic-bezier(0, 0.5, 0, 1),
  2s 1.5s 1 ease-in backgroundBlurEffect;
          animation: 
  slide-down 1s 0.2s cubic-bezier(0, 0.5, 0, 1),
  fade-in 1s 0.2s cubic-bezier(0, 0.5, 0, 1),
  2s 1.5s 1 ease-in backgroundBlurEffect;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.8))), url(header_background.jpg) no-repeat bottom;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8)), url(header_background.jpg) no-repeat bottom;
  background-size: cover;
  opacity: 0;
}

.stretch-height {
  height: inherit;
}

/* H1 and H2 layout, styling and animation */

.heading-outer-container {
  max-width: 100%;
  text-align: center;
  margin-top: 100px;
  margin-left: -4px;
  padding: 0 10px;

  /* transition effects when the user scrolls down */
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: opacity 0.3s ease-in, -webkit-transform 0.4s ease-in;
  transition: opacity 0.3s ease-in, -webkit-transform 0.4s ease-in;
  transition: transform 0.4s ease-in, opacity 0.3s ease-in;
  transition: transform 0.4s ease-in, opacity 0.3s ease-in, -webkit-transform 0.4s ease-in;
}

.h1-inner-container {
  display: inline-block;
}

.h2-inner-container {
  display: inline-block;
  max-width: 100%;
  position: relative;
  right: 0.09em;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.typography-style {
  opacity: 0;
  overflow: hidden;
  border-right: 0.15em solid transparent;
  white-space: nowrap;
  letter-spacing: 0.09em;
}

h1 {
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: calc(40px + (100 - 40) * ((100vw - 320px) / 780));
  margin-right: 0px;
  margin-bottom: 0px;

  /* Hacks for preventing h1 appearing briefly, before the animation starts */
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0,0,0);
  /* -- */
}

.animate-typing-h1 {
  -webkit-animation: 
    typing 1s 1.5s steps(40),
    blink-caret 0.0909s 1.5s step-end 11,
    fade-in 0.2s 1.5s 1 ease-in;
  animation: 
    typing 1s 1.5s steps(40),
    blink-caret 0.0909s 1.5s step-end 11,
    fade-in 0.2s 1.5s 1 ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

h2 {
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: calc(18px + (32 - 18) * ((100vw - 320px) / 730));

  /* Hacks for preventing h2 appearing briefly, before the animation starts */
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0,0,0);
  /* -- */
}

.animate-typing-h2 {
  -webkit-animation: 
    typing 1s 2.5s steps(40),
    blink-caret 0.0909s 2.5s step-end 11,
    fade-in 0.2s 2.5s 1 ease-in;
  animation: 
    typing 1s 2.5s steps(40),
    blink-caret 0.0909s 2.5s step-end 11,
    fade-in 0.2s 2.5s 1 ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/* Large screen navigation; styles and animations */

.navigation {
  position: fixed;
  z-index: 2;
  right: 18px;
  top: 18px;
}

.large-screen-nav {
  display: none;
}

.large-screen-nav {
  list-style: none;
  width: 150px;
  height: 20px;
  opacity: 0;
}

.large-screen-nav-animate {
  -webkit-animation: 1s 3.5s 1 ease-in fade-in;
          animation: 1s 3.5s 1 ease-in fade-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; 
}

.large-screen-nav li:last-child {
  position: relative;
  top: 5px;
}

.large-screen-nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #F8F8FF;
  text-decoration: none;
  -webkit-perspective: 200px;
          perspective: 200px;

  /* Hacks for preventing the nav items appearing briefly, before the animation starts */  
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0,0,0);
  /* -- */

  -webkit-perspective-origin: calc(100% - 17px);
          perspective-origin: calc(100% - 17px);
}

.large-screen-nav li a:hover {
  cursor: default;
}

@-webkit-keyframes fold-up {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
}

@keyframes fold-up {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
}

@-webkit-keyframes deselect-bullet {
  from {
    background-color: tomato;
    height: 18px;
    width: 18px;
  }
  to {
    background-color: transparent;
    height: 12px;
    width: 12px;
  }
}

@keyframes deselect-bullet {
  from {
    background-color: tomato;
    height: 18px;
    width: 18px;
  }
  to {
    background-color: transparent;
    height: 12px;
    width: 12px;
  }
}

.nav-text {
  display: inline-block;
  font-size: 18px;
  letter-spacing: 0.1em;
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
  -webkit-transition: -webkit-transform 0.1s ease-in;
  transition: -webkit-transform 0.1s ease-in;
  transition: transform 0.1s ease-in;
  transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.nav-text-animate {
  -webkit-animation: 1.3s 3.9s 1 ease-in fold-up;
          animation: 1.3s 3.9s 1 ease-in fold-up;
}

.nav-bullet {
  display: inline-block;
  margin-left: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid white;
  -webkit-transition: background-color 0.1s ease-in, width 0.1s ease-in, height 0.1s ease-in;
  transition: background-color 0.1s ease-in, width 0.1s ease-in, height 0.1s ease-in;
}

.nav-bullet-animate {
  -webkit-animation: 1.3s 3.9s 1 ease-in deselect-bullet;
          animation: 1.3s 3.9s 1 ease-in deselect-bullet;
}

.nav-bullet:hover {
  cursor: pointer;
  background-color: tomato;
  width: 18px;
  height: 18px;
}

.home-large:focus > .nav-bullet,
.search-large:focus > .nav-bullet {
  background-color: tomato;
  width: 18px;
  height: 18px;
}

.nav-bullet:hover + .nav-text {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);  
}

.home-large:focus > .nav-text,
.search-large:focus > .nav-text {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);  
}

.border-page-style {
  border-color: tomato;
}

/* Small screens (hamburger icon) navigation; styles and animation*/

.menuToggle {
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  width: 35px;
  height: 28px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.js-small-screen-nav {
  display: none;
}

.menuToggle span {
  display: block;
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.defaultBurgerColor {
  background: #F8F8FF;
}

.menuToggle span:nth-child(1) {
  top: 0px;
}

.menuToggle span:nth-child(2) {
  top: 12px;
}

.menuToggle span:nth-child(3) {
  top: 24px;
}

.menuToggle.open span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menuToggle.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.menuToggle.open span:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: absolute;
  top: 0px;
  right: 0%;
  left: 0%;
  z-index: 1;
  height: 65px;
  width: 100%;
  padding-left: 8%;
  background: rgba(250,250,250,0.75);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  transition: -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.home-small,
.search-small {
  color: #232323;
}

.font-page-style {
  color: tomato;
}

.menu li a {
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0.06em;
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}

.menu li a:hover,
.menu li a:focus {
  color: tomato;
}

.menu li:last-child {
  margin-left: 10%;
}

.slideMenuDown {
  -webkit-transform: none;
          transform: none;
}

.changeBurgerColor {
  background: #232323;
}

/* SVG Icons - svgicons.sparkk.fr */

.svg-icon {
  position: relative;
  bottom: 1px;
  width: 1em;
  height: 1em;
  margin-right: 5px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #232323;
}

.svg-icon circle {
  stroke: #232323;
  stroke-width: 0.4;
}

/* The Scroll  Down Label */

.scroll-down-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.09em;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #fbf5ee;
  position: fixed;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in; 
}

.scroll-down-label p,
.fa-angle-double-down {
  font-size: calc(12px + (16 - 12) * ((100vw - 320px) / 780)); 
}

.scroll-down-label p {
  margin-right: 10px;
}

.label-opacity {
  opacity: 0;
}

@-webkit-keyframes blink {
  from, to {
    color: tomato;
  }
  50% {
    color: white;
  }
}

@keyframes blink {
  from, to {
    color: tomato;
  }
  50% {
    color: white;
  }
}

.label-animate {
  -webkit-animation: 1s 4.2s 1 ease-in fade-in;
          animation: 1s 4.2s 1 ease-in fade-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; 
}

.angle-animate {
  -webkit-animation: 1s infinite ease-in-out blink;
          animation: 1s infinite ease-in-out blink;
}

/* Classes for transitions between screens */

.eject-down-scroll {
  -webkit-transform:  translateY(-1500px);
          transform:  translateY(-1500px);
}

.fade-out-down-scroll {
  opacity: 0;
}

/* Search form partial */

.search-form-partial {
  display: none;
  margin-top: 90px;

  /* transition effects when the user scrolls down */
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-in;
  transition: opacity 0.35s ease-in;
}

.fade-in-down-scroll {
  opacity: 1;
}

.form-news {
	max-width: 600px;
	margin: 0 auto;
}

.news-group,
.search-mechanism,
.sort-news,
.language-news {
	margin-left: 5px;
	padding: 2px;
	min-height: 25px;
	width: 55%;
	border: 1px solid #b8c2cc;
  border-radius: 3px;	
  color: #2f2f2f;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
	-webkit-transition: background-color 0.05s ease-in;	
	transition: background-color 0.05s ease-in;
	background-color: white;			
}

.news-group:hover,
.search-mechanism:hover,
.sort-news:hover,
.language-news:hover {
	background-color: blanchedalmond;
	cursor: pointer;	
}

.form-news label {
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.news-group-label,
.search-mechanism-label,
.input-label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
          align-items: center;
}

.sort-news-label,
.language-news-label {
	display: none;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.search-mechanism-label,
.sort-news-label,
.language-news-label {
	margin-top: 10px;	
}

.add-filter-option {
	display: none;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	border-radius: 2px;	
	margin-top: 10px;
}

.add-filter-option button {
	border: 1px dashed #b8c2cc;;
	border-radius: 3px;
	background: white;
	min-height: 25px;		
	width: 100%;
	font-size: 14px;
	font-weight: 300;
}

.add-filter-option button:hover {
	background-color: blanchedalmond;
	cursor: pointer;	
}

.input-label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	margin-top: 10px;	
}

.input-label-text {
	display: none;
	width: 38%;
}

.input-label-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.input-search-term {
	width: 100%;
  min-height: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
	padding-left: 5px;
	border: 1px solid #b8c2cc;	
  border-radius: 3px;	
  font-size: 12px;
}

.sources-submit {
  margin-left: 5px;
  height: 25px;
	border: 1px solid #b8c2cc;
  border-radius: 3px;
  background-color: white;
}

.sources-submit:hover {
	cursor: pointer;
}

.news-result {
	margin-top: 40px;
}

.inner-container a {
	text-decoration: none;
	display: block;
	color: black;
	border-radius: 2px;
}

.inner-container a:focus {
	outline: none;
	-webkit-box-shadow: 0px 0px 3px 8px rgba(117,186,255,0.95);
	box-shadow: 0px 0px 3px 8px rgba(117,186,255,0.95);
}

.inner-container img {
	display: block;
	margin: 0 auto 10px auto;
	max-width: 100%;
	border-radius: 2px;	
}

.article-text h3 {
	margin-bottom: 5px;
}

.article-text p:first-of-type {
	margin-bottom: 5px;
}

.article-text p:last-of-type {
	font-weight: bold;
}

.article-text:hover {
	text-decoration: underline;
}

.warning-message h3 {
	font-size: 16px;
	margin: 0 auto;
	max-width: 500px;
	font-weight: 400;
}

.prev-next {
  display: none;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 20px;
}

.btn {
	width: 100px;
	height: 30px;
	border: 1px solid #b8c2cc;
	border-radius: 3px;
	-webkit-transition: background-color 0.05s ease-in;
	transition: background-color 0.05s ease-in;
	background-color: white;
}

.btn:hover {
	background-color: blanchedalmond;
	cursor: pointer;
}

.prev-button {
	margin-right: 10px;
}

.next-button {
	margin-left: 10px;
}

/* Results partial */

.results-partial {
  display: none;
}

/* Media Queries */

@media screen and (max-width: 320px) {
	h1 {
		font-size: 40px;
  }
  
  h2 {
		font-size: 18px;
  }
  
  .scroll-down-label p,
  .fa-angle-double-down {
    font-size: 12px;
  }
}

@media screen and (min-width: 450px) { 
  .menu li a {
    font-size: 20px;
  }

  .svg-icon {
    position: static;
    width: 1.1em;
    height: 1.1em;
  }

  .input-label-text {
		display: inline-block;
	}

	.input-label-group {
		width: 55%;
	}

	.add-filter-option button {
		width: 60%;
	}
}

/* this is to prevent ios Safari from rendering the text larger than it should be */

@media screen and (max-device-width: 480px){ 
  body {
    -webkit-text-size-adjust: none;
  }
}

@media screen and (min-width: 650px) { 
  .menu li a {
    font-size: 22px;
  }

  .svg-icon {
    width: 1.2em;
    height: 1.2em;
  }

  .navigation {
    top: 16px;
    right: 16px;
  }

  .menuToggle {
    width: 45px;
    height: 35px;
  }

  .menuToggle.open span:nth-child(1),
  .menuToggle.open span:nth-child(3),
  .menuToggle span:nth-child(2) {
    top: 15px;
  }

  .menuToggle span:nth-child(3) {
    top: 30px;
  }

  .form-news label {
    font-size: 18px;
  }

  .news-group,
  .search-mechanism,
  .sort-news,
  .language-news,
  .input-search-term  {
    font-size: 16px;
  }

  .sources-submit {
    height: 27px;
  }

  .input-search-term  {
    padding-bottom: 1px;
  }
}

@media screen and (min-width: 850px) { 
  .menu li a {
    font-size: 24px;
  }

  .svg-icon {
    width: 1.3em;
    height: 1.3em;
  }

  .form-news label {
    font-size: 20px;
  }

  .news-group,
  .search-mechanism,
  .sort-news,
  .language-news,
  .input-search-term  {
    font-size: 18px;
  }

  .sources-submit {
    height: 29px;
  }

  .input-search-term  {
    padding-top: 1px;
  }
}


@media screen and (min-width: 1050px) {
	h1 {
		font-size: 100px;
  }
  
  h2 {
		font-size: 32px;
  }

  .scroll-down-label p,
  .fa-angle-double-down {
    font-size: 16px;
  }
  
  .heading-outer-container {
    margin-top: 200px;
    max-width: 620px;
    text-align: initial;
  }

  .h2-inner-container {
    margin-left: 0.3em;
    position: static;
  }

  .large-screen-nav {
    display: block;
  }

  .menuToggle {
    display: none;
  }

  .navigation {
    position: fixed;
    right: 100px;
    top: 50%;
  }

  .menu {
    display: none;
  }

  /* .news-group-label,
  .search-mechanism-label,
  .input-label {
    font-size: 28px;
  } */
}
